body {
    color: red;
}

div {
    color: lime;
    border: 3px solid black;
    margin: 10px;
    background: gold;
}

div>p {
    border: inherit;
    margin: inherit;
    background: pink;
    color: blue;
}

a {
    text-decoration: none;
    list-style: none;
    text-decoration-color: black;
}