ul {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    flex: 25%;
}

ul li a {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: url(/icon/icon-all.png);
    background-size: 408% 207%;
}

#a a {
    background-position: 0 0;
}

#b a {
    background-position: 3.625rem 0;
}

#c a {
    background-position: 7.188rem 0;
}

#d a {
    /* background-position: -172px 0; */
    background-position: 10.75rem 0
}

#e a {
    /* background-position: -172px 0; */
    background-position: 0 3.625rem;
}

#f a {
    background-position: 3.625rem 3.625rem;
}

#g a {
    /* background-position: -172px 0; */
    background-position: 7.188rem 3.625rem;
}

#h a {
    /* background-position: -172px 0; */
    background-position: 10.75rem 3.625rem;
}

@media screen and (min-width: 962px) {
    html {
        font-size: 26px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 30px;
    }
}