* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* 코드작성 */

#canvas {
    width: 600px;
    height: 400px;
    position: relative;
    border: 3px solid red;
    overflow: hidden;
}

#panel {
    width: 3000px;
    position: absolute;
    height: 400px;
}


/* img를 float를 안해도 가로배치는 되지만(inline-block이기 때문에)
margin이 생겨버렷 */

#panel img {
    float: left;
    width: 600px;
    height: 400px;
}

@keyframes slide {
    from {
        left: 0px;
    }
    20% {
        left: -600px;
    }
    40% {
        left: calc(-600px*2)
    }
    60% {
        left: calc(-600px*3)
    }
    100% {
        left: calc(-600px*4)
    }
}

#panel {
    animation: slide 8s 1s ease-in-out infinite alternate;
}

#panel:hover {
    animation-play-state: paused;
}

#panel:active {
    animation-play-state: running;
}


/* fill-mode */

div.demo {
    border: 1px solid tomato;
    height: 200px;
}

@keyframes ppp {
    0% {
        font-size: 0em;
    }
    100% {
        font-size: 40px;
    }
}

div.demo:hover>div.back {
    animation-name: ppp;
    animation-duration: 3s;
}

div.demo:hover>div.front {
    animation-name: ppp;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}