    /* 추후 리셋 css영역 */
    
    * {
        margin: 0;
        padding: 0;
    }
    
    ul,
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    /* 추후 베이스 css영역 */
    
    body {
        font-family: sans-serif;
    }
    /* html {
        font-size: 16px;
    } */
    /* 모바일페이지 만들기 */
    
    @media screen and (max-width:500px) {
        html,
        body {
            width: 100%;
            height: 100%;
        }
        header {
            width: 100%;
            background: black;
        }
        nav ul a {
            color: white;
            display: block;
            /* padding: 10px; */
            padding: 0.625rem;
            /* margin: 0 10px; */
            margin: 0 0.625rem;
        }
        nav ul li {
            float: left;
        }
        nav ul {
            overflow: hidden;
            width: 60%;
            margin: auto;
        }
        nav ul li a:hover {
            text-decoration: underline;
        }
        #container img {
            display: block;
            width: 70%;
            /* height: 250px; */
            height: 15.63rem;
            margin: auto;
            margin-top: 0.625rem;
        }
        section.text {
            font-size: 0.875rem;
            padding: 0.625rem;
        }
        section.text p {
            border: 0.125rem dotted black;
            box-shadow: 0.3125rem 0.3125rem 0 black;
            text-align: justify;
            padding: 0.625rem
        }
        footer {
            background: black;
            color: white;
        }
        footer p {
            padding: 1.25rem;
            text-align: center;
        }
    }
    /* --------------- */
    
    @media screen and (max-width:400px) {
        html {
            font-size: 14px;
        }
    }
    
    @media screen and (min-width:401px) {
        html {
            font-size: 15px;
        }
    }
    
    @media screen and (min-width:500px) {
        html {
            font-size: 16px;
        }
    }
    
    @media screen and (min-width:600px) {
        html {
            font-size: 17px;
        }
    }
    
    @media screen and (min-width:700px) {
        html {
            font-size: 18px;
        }
    }
    
    @media screen and (min-width:800px) {
        html {
            font-size: 19px;
        }
    }
    
    @media screen and (min-width:900px) {
        html {
            font-size: 20px;
        }
    }
    /* 모바일 끝 */
    /* 태블릿페이지 만들기 */
    
    @media screen and (min-width:501px) and (max-width: 799px) {
        #container {
            width: auto;
        }
        header {
            background: navy;
        }
        header a {
            color: snow;
            font-weight: bold;
        }
        header nav ul {
            display: flex;
        }
        header nav ul a {
            display: block;
            padding: 10px;
            text-align: center;
        }
        header nav ul li {
            flex: 1;
        }
        #intro {
            margin: 10px;
            display: flex;
            justify-content: space-around;
        }
        #intro img {
            display: block;
            /* width: 80%; */
            /* height: 250px; */
            margin: 5px;
            width: 30%;
        }
        #desc {
            width: 95%;
            border: 1px solid blue;
            padding: 5px;
            margin: auto;
        }
        #desc p {
            padding: 5px;
            background: rgb(160, 162, 252);
        }
        footer {
            height: 200px;
            background: url(img/5.jpg);
            background-size: 100% 100%;
            margin: 10px;
        }
        footer p {
            font-weight: bold;
            font-size: 1.5em;
            line-height: 1;
            color: white;
            width: 70%;
            margin: auto;
            text-align: center;
            padding-top: 50px;
            box-sizing: border-box;
            -webkit-text-stroke: 1px black;
            text-shadow: 2px 2px gray;
        }
    }
    
    @media screen and (min-width:801px) {
        header {
            margin: auto;
            background: orange;
            width: 900px;
        }
        header a {
            color: purple;
            padding: 10px;
            display: inline-block;
            font-weight: bold;
            -webkit-text-stroke: 1px black;
        }
        header nav ul li {
            display: inline-block;
            width: 30%;
        }
        header nav ul {
            width: 80%;
            margin: auto;
        }
        #container {
            width: 900px;
            height: 300px;
            margin: auto;
            /* overflow: hidden; */
        }
        #container::after {
            content: '';
            display: block;
            clear: both;
        }
        #container section {
            float: left;
        }
        #container section#intro {
            width: 70%;
            /* height: 100%; */
            background: silver;
            height: 300px;
        }
        #container section#desc {
            background: gold;
            width: 30%;
            height: 100%;
        }
        #container section#desc p {
            border: 1px solid black;
            height: 80%;
        }
        #intro {
            display: flex;
        }
        #intro img {
            display: block;
            /* height: 100%; */
            width: 30%;
            height: 90%;
            margin: 5px;
            border: 2px solid red;
            margin: auto;
        }
        footer {
            width: 900px;
            background-image: url('/img/6.jpg');
            height: 200px;
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: auto;
            text-align: center;
            background: linear-gradient(pink 0%, orange 20%, rgb(255, 78, 152) 100%);
        }
        #me {
            background: black;
            color: white;
            margin: auto;
            width: 300px;
            height: 100px;
            text-align: center;
            padding: 40px;
        }
    }