* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box1,
#box2,
#box3 {
    height: 100px;
    width: 100px;
}

div #box1 {
    background: lime;
}

div #box2 {
    background: orange;
    transition: 0.2s;
}

div #box3 {
    background: blue;
}

#mama #ul #li {
    visibility: visible;
    opacity: 0.2;
}

#box2:hover {
    opacity: 1;
    transition: 1s;
}

p {
    text-indent: 30px;
    background-image: yellow;
}

p:hover {
    text-indent: -9999px;
    transition: 1px;
}

span {
    border: solid 1px red;
    padding: 20px;
    margin: 20px;
    background: pink;
}