/* div.starRev input+label {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    background: url(/icon/staR.png) no-repeat right 0;
    background-size: auto 100%;
} */

body {
    background: pink;
}


/* 홀수=L / 짝수=R.전부 */

div.starRev2 input:nth-of-type(2n+1)+label:nth-of-type(2n+1) {
    width: 15px;
    height: 30px;
    display: block;
    float: left;
    text-indent: -9999px;
    background: url(/icon/staR.png) no-repeat -52px 0;
    background-size: auto 100%;
}

div.starRev2 input:nth-of-type(2n)+label:nth-of-type(2n) {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(/icon/staR.png) no-repeat -15px 0;
    background-position: 0 0 !important;
    background-size: auto 100%;
}


/* 기본설정완료 */

div.starRev2 input:nth-of-type(2n+1):checked+label:nth-of-type(2n+1) {
    background-position: 0 0 !important;
}

div.starRev2 input:nth-of-type(2n):checked+label:nth-of-type(2n) {
    background-position: -15px 0 !important;
}

.starRev2>input {
    display: none;
}