body {
    /* width: 980px; */
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

#main_header {
    position: relative;
    height: 75px;
    margin-top: 60px;
}

h1.logo {
    position: absolute;
    left: 15px;
    top: 10px;
    text-indent: -9999px;
    /* background: linear-gradient(brown 0%, red 50%, blue 70%, lime 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 50px; */
}

h1.logo a {
    display: block;
    width: 180px;
    height: 50px;
    background-image: url(icon/cougrou/title.png);
}

div.login_menu {
    position: absolute;
    right: 0;
}

div.login_menu a {
    color: rgb(43, 144, 226);
}

#global_aside {
    position: absolute;
    /* left: 990px; */
    right: 0px;
    top: 75px;
    width: 90px;
}


/* 상단 top_gnb */

#top_gnb {
    overflow: hidden;
    text-indent: -9999px;
}

div.menu {
    float: left;
    width: 140px;
    height: 50px;
    background: url(/icon/cougrou/top_gnb.png);
}

div.item1 {
    background-position: 0 0;
}

div.item2 {
    background-position: 0 calc(-50px *1);
}

div.item3 {
    background-position: 0 calc(-50px *2);
}

div.item4 {
    background-position: 0 calc(-50px *3);
}

div.item5 {
    background-position: 0 calc(-50px *4);
}

div.item6 {
    background-position: 0 calc(-50px *5);
}

div.item7 {
    background-position: 0 calc(-50px *6);
}

div.item1:active {
    background-position: 0 calc(-50px *7);
}

div.item2:active {
    background-position: 0 calc(-50px *8);
}

div.item3:active {
    background-position: 0 calc(-50px *9);
}

div.item4:active {
    background-position: 0 calc(-50px *10);
}

div.item5:active {
    background-position: 0 calc(-50px *11);
}

div.item6:active {
    background-position: 0 calc(-50px *12);
}

div.item7:active {
    background-position: 0 calc(-50px *13);
}


/* 하단gnb */

#bottom_gnb ul {
    display: flex;
}

li.bmenu {
    width: 98px;
    height: 80px;
    background: url(icon/cougrou/bottom_gnb.png);
    text-indent: -9999px;
}

li.bitem1 {
    background-position: 0 calc(-80px * 0);
}

li.bitem2 {
    background-position: 0 calc(-80px * 1);
}

li.bitem3 {
    background-position: 0 calc(-80px * 2);
}

li.bitem4 {
    background-position: 0 calc(-80px * 3);
}

li.bitem5 {
    background-position: 0 calc(-80px * 4);
}

li.bitem6 {
    background-position: 0 calc(-80px * 5);
}

li.bitem7 {
    background-position: 0 calc(-80px * 6);
}

li.bitem8 {
    background-position: 0 calc(-80px * 7);
}

li.bitem9 {
    background-position: 0 calc(-80px * 8);
}

li.bitem10 {
    background-position: 0 calc(-80px * 9);
}

li.bitem1:hover {
    background-position: 0 calc(-80px * 10);
}

li.bitem2:hover {
    background-position: 0 calc(-80px * 11);
}

li.bitem3:hover {
    background-position: 0 calc(-80px * 12);
}

li.bitem4:hover {
    background-position: 0 calc(-80px * 13);
}

li.bitem5:hover {
    background-position: 0 calc(-80px * 14);
}

li.bitem6:hover {
    background-position: 0 calc(-80px * 15);
}

li.bitem7:hover {
    background-position: 0 calc(-80px * 16);
}

li.bitem8:hover {
    background-position: 0 calc(-80px * 17);
}

li.bitem9:hover {
    background-position: 0 calc(-80px * 18);
}

li.bitem10:hover {
    background-position: 0 calc(-80px * 19);
}


/* 디테일 리스트 */

#detail_list {
    box-sizing: border-box;
    display: flex;
    background: rgb(63, 62, 73);
    padding: 10px;
    width: 980px;
}

#detail_list ul {
    flex: 1;
    width: 192px;
    font-size: 0.8rem;
}

#detail_list ul li {
    color: white;
    line-height: 1.5;
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#detail_list ul li p {
    color: cyan;
    font-weight: bold;
}

#detail_list ul li.header {
    padding-left: 15px;
}

article.mainpage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height: 440px;
    background: rgb(240, 240, 240);
}

article.mainpage2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 795px;
    height: 400px;
    background: rgb(240, 240, 240);
}

aside.mini_banner {
    position: absolute;
    right: 100px;
    width: 170px;
    top: 930px;
}

#main_footer {
    height: 40px;
    padding: 10px;
    margin-top: 66rem;
    margin-bottom: 10px;
    border-radius: 5px;
    background: darkgray;
    text-align: center;
    color: white;
}