$gray: rgb(44, 41, 41);
$red: #ffa4b1;
#gallery-body {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $gray;
    left: 100%;
    top: 0;
    transition: 1s;
    #gallery {
        position: relative;
        margin: 0 auto;
        padding: 60px 0;
        width: 93%;
        height: 100%;
        color: $red;
        .gallery_header {
            font-size: 35px;
            p {
                position: absolute;
                left: 0;
                top: 60px;
            }
            button {
                position: absolute;
                right: 0;
                top: 60px;
            }
            button {
                cursor: pointer;
            }
        }
        .gallery_header-in {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            p {
                &:nth-child(1) {
                    margin-left: 150px;
                    flex: 1;
                }
                &:nth-child(2) {
                    flex: 7;
                }
            }
        }
        .carousel_wrap {
            .carousel_stage {
                width: calc(630 * 5);
                ul {
                    display: flex;
                    cursor: move;
                    li {
                        position: relative;
                        padding-left: 12px;
                        padding: 15px;
                        .c-imgs {
                            overflow: hidden;
                            img {
                                display: block;
                            }
                        }
                        .c_words {
                            background: $gray;
                            position: absolute;
                            bottom: -120px;
                            right: 0;
                            left: 0;
                            padding: 18px;
                            transition: 0.5s;
                            h5 {
                                display: flex;
                                justify-content: space-between;
                                font-size: 18px;
                                font-weight: bold;
                                margin-bottom: 12px;
                            }
                            .c_words_sub1 {
                                display: block;
                                margin-bottom: 12px;
                            }
                            .c_words_sub3 {
                                font-weight: bold;
                            }
                            .c_words_sub2,
                            .c_words_sub3 {
                                opacity: 0;
                            }
                            // .c_words_sub2,
                            // .c_words_sub3 {
                            //     display: none;
                            //     margin-bottom: 20px;
                            //     opacity: 0;
                            // }
                        }
                    }
                    li:hover {
                        .c_words {
                            bottom: 0px;
                            .c_words_sub2,
                            .c_words_sub3 {
                                opacity: 1;
                            }
                        }
                    }
                    // li:hover .c_words_sub2,
                    // .c_words_sub3 {
                    //     display: block;
                    //     opacity: 1;
                    // }
                }
            }
        }
    }
}