@import url(style_panel.css);
* {
    padding: 0;
    margin: 0;
}


/*햄버거 버튼 구현*/

body {
    position: relative;
    height: 100vmax;
}

input[type=checkbox] {
    display: none;
}

#wrap {
    position: absolute;
    left: -100%;
    top: 0;
    transition: 0.5s;
}

#panel:checked~#wrap {
    left: 0;
    top: 0;
    z-index: 111;
}


/*햄버거 끝------*/

header#top_header {
    width: 100vw;
    margin: auto;
}

header#top_header label {
    display: block;
}

i.xi-cart-o {
    /* 아이콘폰트 좌우반전 */
    transform: rotate(0deg);
    transform: scaleX(-1);
    filter: Flip;
}

div.row_box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: 0.143vw solid lightgray;
    text-align: center;
}

div.row_box label,
i.xi-angle-left {
    margin-left: 2.286vw;
}

div.row_box div#row1 {
    margin-right: 2.286vw;
}

div.row_box {
    border-bottom: 0.143vw solid lightgray;
    margin: 0.714vw;
}

#top_header h1,
div.row_box {
    font-size: 2.857vw;
}

div.row_box h2 {
    font-size: 2.286vw;
    flex: none;
    margin-right: 46.8vw;
}


/*탭메뉴 및 본문*/

#tab_menu {
    display: flex;
    margin: auto;
    width: 100vw;
    border-bottom: 0.143vw solid #ccc;
}

#tab_menu label {
    display: block;
    flex: 1;
    text-align: center;
    margin: auto;
    padding: 1.429vw;
}


/*본문*/

div.content {
    width: 100vw;
    margin: auto;
    /* border: 0.143vw solid lightgray; */
    font-size: 2.286vw;
    /* padding: 5px;
    padding-left: 10px; */
    box-sizing: border-box;
}

div.content h3 {
    background: rgb(235, 235, 235);
    box-sizing: border-box;
    padding: 1.143vw;
    padding-left: 1.429vw
}

div.category {
    display: flex;
    justify-content: space-between;
}

div.category img {
    display: block;
    width: 21.429vw;
    height: 21.429vw;
    border: 0.143vw solid #ccc;
    margin: 1.429vw;
}

div.description {
    flex: 1;
    margin: 1.429vw;
}

div.description b {
    display: block;
}

div.description i {
    display: block;
}

div.description span {
    display: block;
}


/*캐시박스 및 버튼 등*/

div.cash_box {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.143vw solid gray;
    padding: 1.429vw;
    width: 95%;
    margin: auto;
}

span.WON {
    font-size: 2.857vw;
    font-weight: bold;
}

p.btn_box {
    /* line-height: 2; */
}

p.btn_box button {
    width: 4.286vw;
    height: 4.286vw;
    border: 0.143vw solid black;
}

p.btn_box input {
    width: 8.571vw;
    height: 3.857vw;
    border: 0.143vw solid black;
}

p.btn_box {
    overflow: hidden;
}

p.btn_box * {
    float: left;
}


/*소계 배송비 예상합계*/

div.output_box span {
    display: inline-block;
    width: 2.857vw;
    height: 2.857vw;
    background: rgb(122, 122, 122);
    color: white;
    border-radius: 50%;
    text-align: center;
}


/* div.row p.txt {
    display: flex;
} */

div.output_box {
    background: rgb(235, 235, 235);
    border-radius: 1.429vw;
    width: 100vw;
    margin: auto;
    padding: 2.857vw;
    box-sizing: border-box;
    width: auto;
    margin: 2.857vw;
}

div.output_box div.row {
    display: flex;
    justify-content: space-between;
}

section {
    border-bottom: 0.143vw solid gray;
    width: 100vw;
    margin: auto;
}

div.order_box {
    width: 100vw;
    margin: auto;
}

div.order_box .cont_shop {
    display: block;
    border: 0.143vw solid gray;
    border-radius: 1.429vw;
    text-align: center;
    width: 95%;
    padding: 2.143vw;
    margin: 1.429vw auto;
    outline: 0;
    /* 버튼 클릭시 생기는 외부선 없애기 */
}

div.order_box .order {
    display: block;
    border: 0.143vw solid gray;
    border-radius: 1.429vw;
    text-align: center;
    width: 95%;
    padding: 2.143vw;
    margin: 1.429vw auto;
    background: rgb(255, 65, 176);
    color: white;
    outline: 0;
    /* 버튼 클릭시 생기는 외부선 없애기 */
}

div.content,
input[type=radio] {
    display: none;
}

#general:checked~section label#general {
    border-bottom: 0.429vw solid rgb(255, 65, 176);
    font-weight: bold;
}

#regular:checked~section label#regular {
    border-bottom: 0.429vw solid rgb(255, 65, 176);
    font-weight: bold;
}

#general:checked~section>div#general {
    display: block;
}

#regular:checked~section>div#regular {
    display: block;
}


/* 팝업창 만들기 */

#popup_bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
}

#popup {
    position: absolute;
    left: 10%;
    top: 30%;
    margin: auto;
    width: 80%;
    height: 300px;
    background: white;
    box-shadow: 2px 2px 2px black, -2px 2px 2px black;
}

#popup p {
    text-align: center;
    margin-top: 30px;
}

.btn_line .confirm {
    background: rgb(255, 65, 176);
    color: white;
}

.btn_line {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btn_line button {
    display: block;
    flex: 1;
    margin: 20px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
}

.close_line {
    text-align: right !important;
}

#popup_bg:target {
    display: block;
}