* {
    padding: 0;
    margin: 0;
}

header#top_header {
    width: 100vw;
    margin: auto;
}

header#top_header label {
    display: block;
}

i.xi-cart-o {
    /* 아이콘폰트 좌우반전 */
    transform: rotate(0deg);
    transform: scaleX(-1);
    filter: Flip;
}

div.row_box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: 0.143vw solid lightgray;
    text-align: center;
}

div.row_box label,
i.xi-angle-left {
    margin-left: 2.286vw;
}

div.row_box div#row1 {
    margin-right: 2.286vw;
}

div.row_box {
    border-bottom: 0.143vw solid lightgray;
    margin: 0.714vw;
}

#top_header h1,
div.row_box {
    font-size: 2.857vw;
}

div.row_box h2 {
    font-size: 2.286vw;
    flex: none;
    margin-right: 46.8vw;
}


/*본문*/

div.content {
    width: 100%;
    margin: auto;
    border: 0.143vw solid lightgray;
    font-size: 2.286vw;
    /* padding: 5px;
    padding-left: 10px; */
    box-sizing: border-box;
}

div.content h3 {
    background: rgb(235, 235, 235);
    box-sizing: border-box;
    padding: 1.143vw;
    padding-left: 1.429vw
}

div.category {
    display: flex;
    justify-content: space-between;
}

div.category img {
    display: block;
    width: 21.429vw;
    height: 21.429vw;
    border: 0.143vw solid #ccc;
    margin: 1.429vw;
}

div.description {
    flex: 1;
    margin: 1.429vw;
}

div.description b {
    display: block;
}

div.description i {
    display: block;
}

div.description span {
    display: block;
}

b.text_description1 {
    margin-bottom: 8.2vw;
}

div.text_description3 {
    display: flex;
    justify-content: space-between;
    padding-right: 2.143vw;
}

div.coupon_6th {
    box-sizing: border-box;
    background: rgb(241, 241, 241);
    margin: 1.429vw;
    display: flex;
    padding: 2.143vw;
    border-radius: 2.143vw;
    justify-content: space-between;
    font-weight: bold;
}

p.coupon_text1 {
    font-weight: bold;
}

p.coupon_text1 i.xi-credit-card {
    color: rgb(255, 65, 176);
}

p.coupon_text2 {
    color: rgb(255, 65, 176);
}


/*캐시박스 및 버튼 등*/

span.WON {
    font-size: 2.857vw;
    font-weight: bold;
}


/*버튼*/

section:nth-of-type(1) {
    width: 87vw;
    margin: auto;
}

div.order_box {
    width: 100%;
    margin: auto;
}

div.order_box .skip {
    display: block;
    border: 0.143vw solid gray;
    border-radius: 1.429vw;
    text-align: center;
    width: 95%;
    padding: 2.143vw;
    margin: 1.429vw auto;
    outline: 0;
    /* 버튼 클릭시 생기는 외부선 없애기 */
}

div.order_box .order_now {
    display: block;
    border: 0.143vw solid gray;
    border-radius: 1.429vw;
    text-align: center;
    width: 95%;
    padding: 2.143vw;
    margin: 1.429vw auto;
    background: rgb(255, 65, 176);
    color: white;
    outline: 0;
    /* 버튼 클릭시 생기는 외부선 없애기 */
}


/* 옵션목록 8개 */

section:nth-of-type(2) {
    width: 90vw;
    margin: auto;
}

.select {
    box-sizing: border-box;
    border: 0.143vw solid gray;
    border-radius: 2.143vw;
    padding: 1.429vw;
    display: flex;
    justify-content: space-between;
    margin: 1.429vw;
}

.select>div>p:nth-child(1) {
    margin-bottom: 1.429vw;
}

.select i.xi-angle-right::before {
    font-size: 4vw;
    line-height: 8vw;
}


/* 정보변경 및 해지 버튼 */

div.regular_btn {
    width: 92vw;
    text-align: center;
    margin: auto;
}

div.regular_btn .order_now {
    display: block;
    border: 0.143vw solid gray;
    border-radius: 1.429vw;
    width: 95%;
    padding: 2.143vw;
    margin: 1.429vw auto;
    background: rgb(255, 65, 176);
    color: white;
    outline: 0;
    /* 버튼 클릭시 생기는 외부선 없애기 */
}

div.regular_btn .skip {
    display: block;
    border: 0.143vw solid gray;
    width: 95%;
    padding: 2.143vw;
    border-radius: 1.429vw;
    margin: 1.429vw auto;
    /* 버튼 클릭시 생기는 외부선 없애기 */
}