@charset 'utf-8';
@mixin flexPrefix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

$blue: '#1c92eb';
$darkblue: '#0b68af';
// -- MOBILE FIRST at 375x667--//
body {
    position: relative;
}

.top_layout {
    @include flexPrefix;
    justify-content: space-between;
    height: 73px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    .logobox {
        background: url('/assets/img/cnuh_logo.png') no-repeat center center;
        background-size: 100%;
        width: 248px;
        box-shadow: none;
        text-indent: -9999px;
    }
    .assets {
        @include flexPrefix;
        align-items: center;
        font-size: 30px;
        box-shadow: none;
        i {
            display: block;
            margin: 0 12px;
        }
    }
}

.mobile_gnb {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 1;
    width: 320px;
    height: 100vh;
    .mobile_utile_menu {
        background: $blue;
        @include flexPrefix;
        justify-content: space-between;
        color: white;
        height: 50px;
        font-size: 14px;
        ul {
            height: 50px;
            @include flexPrefix;
            align-items: center;
            li {
                margin: 0 10px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: 1px;
                    height: 20px;
                    width: 1px;
                    background: #72bef8;
                }
                a {
                    box-sizing: border-box;
                    display: block;
                }
            }
        }
        dl {
            height: 50px;
            font-size: 22px;
            background: $darkblue;
            @include flexPrefix;
            align-items: center;
            dt,
            a,
            i {
                display: block;
            }
            i {
                @include flexPrefix;
                justify-content: center;
                width: 50px;
            }
        }
    }
    .mobile_menu_accordion {
        ul {
            background: white;
            li a {
                @include flexPrefix;
                justify-content: space-between;
                align-items: center;
                height: 58px;
            }
        }
    }
}

#top_wraper {
    .top_popup {
        img {
            display: block;
            width: 100%;
        }
    }
}