/*헤더 레이아웃*/

#main_header {
    width: 960px;
    margin: auto;
    height: 160px;
    position: relative;
    border: 1px solid black;
}

#title {
    position: absolute;
    left: 20px;
    top: 30px;
}

#main_gnb {
    position: absolute;
    right: 0px;
    top: 0px;
}

#main_lnb {
    position: absolute;
    right: 0px;
    bottom: 10px;
}


/* 콘텐츠 박스 레이아웃 */

#content {
    width: 960px;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
}

#content>#main_section {
    width: 750px;
    float: left;
    background: lightyellow;
}

#content>#main_aside {
    width: 200px;
    float: right;
    background: lightgray;
}


/*푸터 레이아웃*/

#main_footer {
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}