@charset "UTF-8";

html,
body {
    width: 100%;
    height: 100%;
}

// mobile first
header {
    height: 105px;
    .mwrap {
        padding-top: 35px;
    }
    .mobile-header {
        position: relative;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        .logo {
            width: 70px;
            height: 35px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .hamburger {
            img {
                display: block;
                width: 35px;
                height: 35px;
            }
        }
    }

    .over {
        width: 100%;
        height: 100vh;
    }
    .mobile-drawer {
        display: none;
        position: absolute;
        right: -100%;
        top: 0;
        width: 80%;
        height: 100%;
        padding: 7.5px;
        background: #fff;
        box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
        z-index: 11111;
        .closeIcon {
            position: absolute;
            right: 30px;
            top: 35px;
        }

        .mobile-gnb {
            position: absolute;
            right: 30px;
            top: 170px;
            text-align: right;
        }
    }
}

.main-headline {
    height: 130px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.contents {
    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        padding-bottom: 40px;
        &-list {
            // height class setting
            div.full {
                height: 300px;
            }

            div.half {
                height: 145px;
            }

            // margin class setting
            a.marginLeft10 {
                margin-left: 10px;
            }

            // background images
            a {
                margin-bottom: 10px;

                &.items {
                    display: block;
                    width: 145px;
                    height: 145px;
                    border-radius: 12px;
                }
            }

            &.imgW1 {
                a {
                    &.item1 {
                        width: 300px !important;
                        height: 300px !important;
                        background: url("/photozone/assets/image/de-1.png") no-repeat center center;
                        background-size: 180%;
                    }
                }
            }

            &.imgW2 {
                display: flex;
                flex-wrap: wrap;

                a {
                    &.item2 {
                        background: url("/photozone/assets/image/de-2.png") no-repeat center center;
                        background-size: 180%;
                    }

                    &.item3 {
                        background: url("/photozone/assets/image/de-3.png") no-repeat center center;
                        background-size: 180%;
                    }

                    &.item4 {
                        width: 300px;
                        height: 145px;
                        background: rgb(39, 39, 39);
                        background-size: 180%;
                    }
                }
            }

            &.imgW3 {
                display: flex;
                flex-wrap: wrap;

                a {
                    &.item5 {
                        background: url("/photozone/assets/image/de-5.png") no-repeat center center;
                        background-size: 180%;
                    }

                    &.item6 {
                        background: url("/photozone/assets/image/de-6.png") no-repeat center center;
                        background-size: 180%;
                    }
                }
            }

            &.imgW4 {
                display: flex;
                flex-wrap: wrap;

                a {
                    &.item7 {
                        width: 300px;
                        height: 145px;
                        background: url("/photozone/assets/image/ability.png") no-repeat center
                            center;
                        background-size: 100%;
                    }
                }
            }

            &.imgW5 {
                display: flex;
                flex-wrap: wrap;

                a {
                    &.item8 {
                        background: rgb(221, 221, 221);
                    }

                    &.item9 {
                        background: #222;
                    }
                }
            }
        }
    }
}

.footer {
    background: #eee;
    padding: 40px 0;
    color: #666;
    address {
        display: flex;
        justify-content: space-around;
        .publisher {
            font-weight: bold;
        }
    }
    .address-github {
        i {
            display: block;
            &::before {
                display: block;
                font-size: 24px;
            }
        }
    }
}
