$Yellow: #ffdb00;
$Blue: #0058a3;
$BoxShadow: 3px 5px 10px #000;
@keyframes pointRound {
    from {
        transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
        transform: scale(1);
        border: 5px solid rgba(255, 255, 255, 0.521);
    }
    to {
        transform: scale(2);
    }
}

.sliderWrap {
    margin-top: 20px;
    margin-bottom: 6%;
    width: 100%;
    height: 100%;
    .page1 {
        background: rgb(14, 10, 3);
    }
    .page2 {
        background: rgb(2, 34, 70);
    }
    .page3 {
        background: rgb(11, 27, 13);
    }
    .page4 {
        background: rgb(9, 53, 104);
    }
    .page5 {
        background: rgb(11, 27, 13);
    }
    .slider__page {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 30px;
        min-width: 276px;
        margin-bottom: 40px;

        color: white;
        &__blur-bg {
            display: none;
        }
        &--content {
            position: relative;
            width: 100%;
            top: 60px;
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
                border-radius: 10px;
            }

            &__text {
                position: relative;
                bottom: 25px;
                .sliderTitle {
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 4px;
                }
                .sliderDesc {
                    color: #bec3d1;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
        .sliderControl {
            position: absolute;
            width: 100%;
            bottom: 10px;
            display: flex;
            &__text {
                position: absolute;
                bottom: 5px;
                left: 10px;
                max-width: 70px;
                margin: 0 auto;
                text-align: center;
                background: rgba(0, 0, 0, 0.781);
                padding: 4px 8px;
                border-radius: 5px;
                font-size: 5px;
                display: flex;
                span.thisPage {
                    flex: 1;
                    color: #fff;
                    font-weight: 700;
                    border-right: 1px solid #fff;
                    padding-right: 3px;
                }
                span.everyPage {
                    flex: 1;
                    color: #fefefe;
                    padding-left: 3px;
                }
            }
            &__asset {
                @keyframes proBar {
                    0% {
                        width: 0;
                    }
                    100% {
                        width: 100%;
                    }
                }
                .pro-ani {
                    animation: proBar 4s linear;
                }

                width: 100%;
                display: flex;
                .progress_navigator {
                    width: 95%;
                    height: 2px;
                    background: rgba(2, 2, 2, 0.342);
                    margin-left: 16px;
                    margin-top: 5px;
                    &--now {
                        width: 100%;
                        height: 2px;
                        background: #fff;
                    }
                }
                .pageUpDown {
                    display: none;
                }
            }
        }
    }
}
.sliderWrap:hover {
    .slider__page {
        filter: brightness(0.8);
    }
    .progress_navigator--now {
        animation-play-state: paused !important;
    }
}
.page_welcome {
    display: flex;
    background: #f8f8f9;
    margin-bottom: 12px;
    padding: 8px;
    &__pointBox {
        background: #000;
        color: #f8f8f9;
        padding: 2px 8px;
        margin-left: 12px;
        font-weight: bold;
        border-radius: 5px;
    }
    &__desc {
        font-size: 12px;
        margin-left: 12px;
    }
}
.page_info {
    background: #f8f8f9;
    padding: 20px;
    margin-bottom: 34px;
    &--Wrap {
        background: url("/img/showroom/showroomImg/showAsset1.png") screen;
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
    }
    &__desc {
        font-size: 12px;
    }
}

.banner_title {
    text-align: center;
}

.showRoomThema {
    width: 100%;
    padding: 0 24px;
    &__asset {
        width: 100%;
        margin-bottom: 45px;
        &:hover {
            text-decoration: underline;
        }
        img {
            display: block;
            width: 100%;
            margin-bottom: 6px;
        }
        &--title {
            font-size: 18px;
            font-weight: 700;
        }
    }
}

@media screen and (min-width: 1260px) {
    #content {
        max-width: 1960px;
        margin: 0 auto;
    }
    .sliderWrap {
        margin-top: 96px;
        .slider__page {
            &__blur-bg {
                display: block;
                position: absolute;
                top: 40px;
                right: 40px;
                filter: blur(20px);
                opacity: 0.2;
                width: 60%;
                img {
                    width: 800px;
                    height: 400px;
                }
            }
        }
        .slider__page--content {
            display: flex !important;
            flex-wrap: wrap;
            &__text {
                padding-top: 30px;
                padding-left: 50px;
                flex: 1;
                .sliderTitle {
                    font-size: 33px;
                    margin-bottom: 16px;
                }
            }
            img {
                width: 50%;
            }
            .sliderControl {
                width: 50%;
                bottom: 50px;
            }
        }
    }
    .showRoomThema {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        .showRoomThema__anchor {
            width: 20%;
            .showRoomThema__asset {
                padding: 12px;
            }
        }
    }
}
