$Yellow: #ffdb00;
$Blue: #0058a3;
$BoxShadow: 3px 5px 10px #000;
@keyframes pointRound {
    from {
        transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
        transform: scale(1);
        border: 5px solid rgba(255, 255, 255, 0.521);
    }
    to {
        transform: scale(2);
    }
}

.sliderWrap {
    background: rgb(44, 43, 43);
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 400px;
    .slider__page {
        position: relative;
        width: 100%;
        height: 100%;
        &--img {
            position: absolute;
            left: 10%;
            bottom: 0px;
            img {
                display: block;
                width: 80%;
            }
        }
        &--text {
            .sliderTitle {
                font-size: 18px;
                font-weight: bold;
            }
            .sliderDesc {
                font-weight: 300;
            }
        }
    }
    .sliderControl {
        background: #ccc;
        span.thisPage {
            color: white;
            border-right: 1px solid white;
        }
        span.everyPage {
            color: white;
        }
    }
}
.page_welcome {
    display: flex;
    background: #f7f7f7;
    margin-bottom: 12px;
    padding: 8px;
    &__pointBox {
        background: #000;
        color: #ccc;
        padding: 2px 8px;
        margin-left: 12px;
        font-weight: bold;
        border-radius: 5px;
    }
    &__desc {
        margin-left: 12px;
    }
}
.page_info {
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 34px;
    &--Wrap {
        background: url("/img/showroom/showroomImg/showAsset1.png") screen;
    }
    &__title {
        font-size: 22px;
        font-weight: bold;
    }
}

.banner_title {
    text-align: center;
}

.showRoomThema {
    width: 100%;
    padding: 0 24px;
    &__asset {
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (min-width: 1260px) {
}
