$Yellow: #ffdb00;
$Blue: #0058a3;
$WrapMobileWidth: 80%;
$ImgMobileWidth: 100px;
$WrapDesktopWidth: 820px;
$WrapDesktopWidth: 150px;

.content {
    width: 100%;
    height: 100%;
    &__projects {
        width: 100%;
        height: 100%;
        position: relative;
        color: #fff;
        &--menu {
            width: 100%;
            height: 100%;
            div.fadeShow {
                position: relative;
                height: 33vh;
                width: 100%;
                transition: 0.5s;
                i.xi-link {
                    border-radius: 50%;
                    border: 2px solid #fff;
                    padding: 20px;
                    position: absolute;
                    color: #fff;
                    font-size: 50px;
                    left: 50%;
                    margin-left: calc(-75px / 2);
                    top: 20%;
                    opacity: 0.8;
                    transition: 0.8s;
                }
                &.ikea_idea {
                    background: url("/img/idea/gate-visual1.jpg") center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    display: none;
                    &:hover {
                        background-size: 130% auto;
                    }
                }
                &.our_home {
                    background: url("/img/idea/gate-visual2.jpg") center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    display: none;
                    &:hover {
                        background-size: 130% auto;
                    }
                }
                &.social_ikea {
                    background: url("/img/idea/gate-visual3.jpg") center;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    display: none;
                    &:hover {
                        background-size: 130% auto;
                    }
                }
                &:hover {
                    filter: brightness(0.8);
                    i.xi-link {
                        transform: rotate(60deg);
                    }
                }
                .content__projects--word {
                    position: absolute;
                    opacity: 0.9;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: 0;
                    padding: 30px;
                    text-align: center;
                    color: $Blue;
                    background: #fff;
                    p:first-child {
                        display: inline;
                        padding: 0 12px;
                        background: $Blue;
                        color: #fff;
                    }
                    h2 {
                        text-decoration: underline;
                        font-size: 22px;
                        font-weight: 900;
                    }
                }
            }
        }
        &--desc {
            text-align: center;
            margin-top: 50px;
            .--desc-wrap {
                margin: 0 auto;
                width: $WrapMobileWidth;
                display: flex;
                justify-content: space-between;
            }
            .--desc-wrap {
                font-size: 16px;
                font-weight: bold;
                color: $Yellow;
                background: $Yellow;
                span {
                    background: $Blue;
                    padding: 0 20px;
                }
            }
            .slide {
                width: $WrapMobileWidth;
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 0 auto;
                &-thumb {
                    margin: 10px;
                    color: #000;
                    a {
                        display: flex;
                    }
                }
                &-thumb a img {
                    width: $ImgMobileWidth;
                    height: $ImgMobileWidth;
                    max-height: $ImgMobileWidth;
                }
            }
        }
    }
}

// desktop
@media screen and (min-width: 1260px) {
    .content {
        width: 100%;
        height: 100vh;
        // .desc-page {
        //     .content__projects--desc {
        //         margin-top: 128px;
        //     }
        //     .content__projects--menu {
        //         overflow: hidden;
        //         .fadeShow {
        //             float: left;
        //         }
        //     }
        // }
        &__projects {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            div.fadeShow {
                cursor: pointer;
                float: left;
                height: 100vh;
                width: 33.3%;
                float: left;
                &.ikea_idea {
                    background: url("/img/idea/gate-visual1.jpg") center;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    &:hover {
                        background-size: auto 150%;
                    }
                }
                &.our_home {
                    background: url("/img/idea/gate-visual2.jpg") center;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    &:hover {
                        background-size: auto 150%;
                    }
                }
                &.social_ikea {
                    background: url("/img/idea/gate-visual3.jpg") center;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    &:hover {
                        background-size: auto 150%;
                    }
                }
                .content__projects--word {
                    padding-bottom: 120px;
                }
                &:hover .content__projects--word {
                    transition: 0.2s;
                    padding-bottom: 180px;
                }
            }
        }
    }
    .content__projects--desc .slide {
        flex-direction: row;
    }
}
