$Yellow: #ffdb00;
$Blue: #0058a3;

.product-detail-wrap {
    .location-bar {
        dl {
            display: flex;
            font-size: 12px;
            > * {
                margin: 4px;
            }
            .xi-subdirectory-arrow {
                transform: rotate(-180deg);
            }
            dt {
                font-weight: bold;
            }
            dd {
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(6) {
                    display: none;
                }
                &::after {
                    position: absolute;
                    content: ">";
                    color: #666;
                }
                &:nth-of-type(5)::after {
                    content: "";
                }
            }
        }
    }
    .product-information {
        // star rating CSS
        div.star-wrap {
            display: flex;
            span.starRating {
                display: block;
                background: url("/img/star.png");
                background-position: 50px;
                width: 20px;
                background-size: 250%;
                height: auto;
                text-indent: -9999px;
            }
            span.starRating:nth-of-type(5) {
                background-position: 20px;
            }
        }
        // information
        .info-main {
            .info-thumb {
                > img {
                    width: 100%;
                }
            }
            .buy {
                padding: 10px;
                .buy-t {
                    &__title {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 24px;
                        h2 {
                            font-size: 18px;
                            font-weight: 700;
                        }
                        &--price {
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                    &__btn {
                        button {
                            cursor: pointer;
                            &:nth-of-type(1) {
                                background: $Yellow;
                                padding: 5px 50px;
                                border-radius: 5px;
                            }
                            &:nth-of-type(2) {
                                background: #dfdfdf71;
                                padding: 5px 8px;
                                border-radius: 50%;
                                position: relative;
                                &:hover::after {
                                    content: "";
                                    bottom: 0;
                                    left: 0;
                                    z-index: -999;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    background: #dfdfdf;
                                    border-radius: 50%;
                                    @keyframes hoverGray {
                                        0% {
                                            width: 0;
                                            height: 0;
                                            bottom: 50%;
                                            left: 50%;
                                        }
                                        100% {
                                            width: 100%;
                                            height: 100%;
                                            bottom: 0;
                                            left: 0;
                                        }
                                    }
                                    animation: hoverGray 0.3s;
                                }
                            }
                        }
                    }
                }
                &-b__delivery {
                    > div {
                        border-bottom: 1px solid #ddd;
                        padding: 12px;
                        > i {
                            margin-right: 12px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .info-detail {
            padding: 20px;
            &--title {
                padding: 20px;
                margin-bottom: 12px;
                background: #f8f8f8;
                h2 {
                    padding: 5px;
                    font-size: 18px;
                    text-align: center;
                    font-weight: bold;
                    color: #000;
                    margin: 0 auto;
                    border-radius: 4px;
                }
            }

            > p {
                color: #333;
                text-align: center;
                padding-bottom: 24px;
            }
            .product-spec {
                margin-bottom: 50px;
                table {
                    width: 100%;
                    font-size: 12px;
                    margin-bottom: 12px;
                    border-top: 2px solid #000;
                    border-bottom: 2px solid #000;
                    tr {
                        border: 1px solid #ddd;
                    }
                    th {
                        background: #f3f3f3;
                        padding: 6px 0;
                    }
                    td {
                        color: #333;
                        text-indent: 8px;
                    }
                    .manualHyperLink {
                        text-decoration: underline;
                    }
                }
            }
            .product-reivew {
                border: 1px solid #dfdfdf;
                h3 {
                    font-size: 18px;
                    padding: 20px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 12px;
                    background: #f8f8f8;
                }
                .review-sum {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .star-wrap {
                        height: 20px;
                    }
                    .rating-count {
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                .review-contents {
                    font-size: 12px;
                    &--innerBox {
                        padding: 12px;
                        &--title {
                            display: flex;
                            justify-content: space-between;
                            p {
                                margin-left: 12px;
                                color: #555;
                                font-size: 12px;
                            }
                            i {
                                color: #555;
                                font-size: 12px;
                                text-indent: 0;
                            }
                            .star-wrap {
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
                .view-more {
                    background: #222;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                    font-weight: bold;
                    padding: 12px;
                    cursor: pointer;
                    &:hover {
                        background: #000;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1260px) {
    .product-detail-wrap {
        margin-top: 96px;
        .location-bar {
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.082);
            margin-bottom: 20px;
            padding: 8px;
            dl {
                display: flex;
                justify-content: left;
                > * {
                    margin: 8px;
                    font-size: 14px;
                }
                dd {
                    &:nth-of-type(1),
                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(6) {
                        display: block;
                    }
                    &::after {
                        margin-left: 5px;
                    }
                    &:nth-of-type(5)::after {
                        content: ">";
                    }
                    &:nth-of-type(6)::after {
                        content: "";
                    }
                }
            }
        }
        .info-main {
            display: flex;
            justify-content: center;
            .info-thumb {
                width: 500px;
            }
        }
        .buy {
            padding: 40px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .info-detail {
            .product-spec {
                table {
                    max-width: 1450px;
                    margin: 0 auto;
                    > * {
                        font-size: 14px;
                    }
                }
            }
        }
        .review {
            display: flex;
            justify-content: center;
            .review-sum {
                width: 400px;
            }
            .review-contents {
                font-size: 14px !important;
                padding: 40px !important;
            }
        }
        .view-more {
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 28px;
            border-radius: 6px;
        }
    }
}
