$Yellow: #ffdb00;
$Blue: #0058a3;

section {
    padding: 5vw 30px;
    width: 100%;
    height: auto;
}

.productList {
    width: 80%;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 50px auto;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    .on {
        background: rgb(43, 42, 44);
        box-shadow: inset 3px 4px 10px black;
        color: $Yellow;
        font-weight: bold;
    }
    &__items {
        width: 48%;
        border: 1px solid #dfdfdf;
        float: left;
        background: rgb(252, 251, 255);

        a {
            display: block;
            padding: 7px 0;
        }
    }
}
.headerTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 30px;
    span {
        font-size: 12px;
        font-weight: normal;
    }
}
#productResult {
    .result_title {
        margin: 0 10px;
    }
    display: flex;
    justify-content: flex-end;
    width: 75vw;
    margin: 0 auto;
    font-size: 12px;
    color: rgb(51, 51, 51);
}
#productMain {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    .productMainItem {
        width: 50%;
        img {
            display: block;
            max-width: 100% !important;
            margin-bottom: 20px;
        }
        a {
            cursor: pointer !important;
            display: flex;
            flex-direction: column;
            margin: 15px;
            > * {
                cursor: pointer;
            }
            .name_of_product {
                font-size: 14px;
                font-weight: 600;
            }
            p:nth-of-type(2) {
                font-size: 12px;
                font-weight: 300;
                line-height: 1;
                margin-bottom: 6px;
            }
            p:nth-of-type(3) {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 460px) {
    .productList {
        &__items {
            width: 32%;
        }
    }
}

@media screen and (min-width: 1260px) {
    .headerTitle {
        margin-top: 80px;
        margin-left: 10vw;
        margin-bottom: 20px;
        font-size: 24px;
        span {
            font-size: 16px;
        }
    }
    hr {
        display: block;
        border: 1px solid #ececec;
        margin: 10px 10vw;
    }

    .productList {
        margin-left: 10vw;
        &__items {
            width: 8%;
            min-width: 105px;
            font-size: 14px;
        }
    }
    #productMain {
        .productMainItem {
            width: 20%;
            padding: 10px;
        }
    }
}
