@keyframes pointRound {
  from {
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: scale(1);
    border: 5px solid rgba(255, 255, 255, 0.521);
  }
  to {
    transform: scale(2);
  }
}

.sliderWrap {
  margin-top: 40px;
  margin-bottom: 6%;
  width: 100%;
  height: 100%;
}

.sliderWrap .slider__page {
  position: relative;
  border: 2px solid black;
  padding: 30px;
  width: 100%;
  height: 100%;
  min-width: 276px;
  display: flex;
  flex-direction: column;
}

.sliderWrap .slider__page--text {
  top: 0px;
  left: 10px;
}

.sliderWrap .slider__page--text .sliderTitle {
  font-size: 18px;
  font-weight: bold;
}

.sliderWrap .slider__page--text .sliderDesc {
  font-weight: 300;
}

.sliderWrap .slider__page--img {
  position: relative;
  top: 0px;
  left: 10px;
  width: 100%;
  background: pink;
}

.sliderWrap .slider__page--img img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.sliderWrap .slider__page .sliderControl {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #ccc;
  display: flex;
}

.sliderWrap .slider__page .sliderControl__text span.thisPage {
  color: white;
  border-right: 1px solid white;
}

.sliderWrap .slider__page .sliderControl__text span.everyPage {
  color: white;
}

.sliderWrap .slider__page .sliderControl__asset {
  display: flex;
}

.sliderWrap .slider__page .sliderControl__asset .progress_navigator {
  width: 200px;
  height: 2px;
  background: black;
  margin-top: 10px;
}

.sliderWrap .slider__page .sliderControl__asset .progress_navigator--now {
  width: 18px;
  height: 2px;
  background: white;
}

.sliderWrap .slider__page .sliderControl__asset .pageUpDown {
  display: none;
}

.page_welcome {
  display: flex;
  background: #ebebeb;
  margin-bottom: 12px;
  padding: 8px;
}

.page_welcome__pointBox {
  background: #000;
  color: #ccc;
  padding: 2px 8px;
  margin-left: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.page_welcome__desc {
  font-size: 12px;
  margin-left: 12px;
}

.page_info {
  background: #ebebeb;
  padding: 20px;
  margin-bottom: 34px;
}

.page_info--Wrap {
  background: url("/img/showroom/showroomImg/showAsset1.png") screen;
}

.page_info__title {
  font-size: 18px;
  font-weight: bold;
}

.page_info__desc {
  font-size: 12px;
}

.banner_title {
  text-align: center;
}

.showRoomThema {
  width: 100%;
  padding: 0 24px;
}

.showRoomThema__asset {
  width: 100%;
}

.showRoomThema__asset img {
  display: block;
  width: 100%;
}
