.content {
  width: 100%;
  height: 100%;
  background: #eee;
}

.content__projects {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}

.content__projects--menu {
  width: 100%;
  height: 100%;
}

.content__projects--menu div.fadeShow {
  position: relative;
  height: 33vh;
  width: 100%;
  transition: 0.5s;
}

.content__projects--menu div.fadeShow .content__project--icon {
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  color: #fff;
  left: 50%;
  margin-left: calc(-75px / 2);
  top: 20%;
  opacity: 0.8;
  transition: 0.8s;
}

.content__projects--menu div.fadeShow .content__project--icon .xi-touch {
  font-size: 50px;
  padding: 20px;
}

.content__projects--menu div.fadeShow.ikea_idea {
  background: url("/img/idea/gate-visual1.jpg") center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: none;
}

.content__projects--menu div.fadeShow.ikea_idea:hover {
  background-size: 130% auto;
}

.content__projects--menu div.fadeShow.our_home {
  background: url("/img/idea/gate-visual2.jpg") center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: none;
}

.content__projects--menu div.fadeShow.our_home:hover {
  background-size: 130% auto;
}

.content__projects--menu div.fadeShow.social_ikea {
  background: url("/img/idea/gate-visual3.jpg") center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: none;
}

.content__projects--menu div.fadeShow.social_ikea:hover {
  background-size: 130% auto;
}

.content__projects--menu div.fadeShow:hover {
  filter: brightness(0.8);
}

.content__projects--menu div.fadeShow:hover .content__project--icon {
  transform: rotate(-20deg);
}

.content__projects--menu div.fadeShow .content__projects--word {
  position: absolute;
  opacity: 0.9;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  padding: 30px;
  text-align: center;
  color: #0058a3;
  background: #fff;
}

.content__projects--menu div.fadeShow .content__projects--word p:first-child {
  display: inline;
  padding: 0 12px;
  background: #0058a3;
  color: #fff;
}

.content__projects--menu div.fadeShow .content__projects--word h2 {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 900;
}

.content__projects--desc {
  position: relative;
  display: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.content__projects--desc .slideTitle {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: #ffdb00;
  background: #ffdb00;
}

.content__projects--desc .slideTitle span {
  background: #0058a3;
  padding: 0 20px;
}

.content__projects--desc .slide {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content__projects--desc .slide-thumb {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
}

.content__projects--desc .slide-thumb__desc {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.content__projects--desc .slide-thumb a {
  display: flex;
}

.content__projects--desc .slide-thumb a p {
  cursor: pointer;
}

.content__projects--desc .slide-thumb .imgBox {
  margin: 0;
  overflow: hidden;
  width: 100px;
}

.content__projects--desc .slide-thumb .imgBox img {
  max-height: 100px;
}

.content__projects--desc .slideControler {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  margin-left: -40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.content__projects--desc .slideControler button {
  background: #eee;
  color: #666;
  margin: 0 120px;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.content__projects--desc .PrevPageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #ffdb00;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1260px) {
  .content {
    width: 100%;
    height: 100vh;
  }
  .content .content__projects--desc {
    height: 100vh;
    margin-left: 30px;
  }
  .content .content__projects--menu {
    overflow: hidden;
  }
  .content__projects {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .content__projects div.fadeShow {
    cursor: pointer;
    height: 100vh;
    width: 33.3%;
    float: left;
  }
  .content__projects div.fadeShow.ikea_idea {
    background: url("/img/idea/gate-visual1.jpg") center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .content__projects div.fadeShow.ikea_idea:hover {
    background-size: auto 150%;
  }
  .content__projects div.fadeShow.our_home {
    background: url("/img/idea/gate-visual2.jpg") center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .content__projects div.fadeShow.our_home:hover {
    background-size: auto 150%;
  }
  .content__projects div.fadeShow.social_ikea {
    background: url("/img/idea/gate-visual3.jpg") center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .content__projects div.fadeShow.social_ikea:hover {
    background-size: auto 150%;
  }
  .content__projects div.fadeShow .content__projects--word {
    padding-bottom: 120px;
  }
  .content__projects div.fadeShow:hover .content__projects--word {
    transition: 0.2s;
    padding-bottom: 180px;
  }
  .content .slideTitle {
    margin-top: 250px !important;
  }
  .content .slide {
    position: relative;
  }
  .content .slide-thumb {
    width: 250px;
  }
  .content .slide-thumb .imgBox img {
    max-height: 100px;
  }
  .content .content__projects--desc {
    width: 64%;
    float: left;
  }
  .content .content__projects--desc div {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1960px) {
  .content .slideTitle {
    margin-top: 400px !important;
  }
}
