section {
  padding: 5vw 30px;
  width: 100%;
  height: auto;
}

.editorList__asset {
  margin: 50px;
}

.editorList__asset .slick-prev,
.editorList__asset .slick-next {
  z-index: 1;
}

.editorList__asset--lists {
  background: url("/img/3.png");
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 120px;
  line-height: 120px;
  border: 1px solid #ccc;
  text-align: center;
}

.editorList__asset--lists p {
  background: rgba(0, 0, 0, 0.3);
}

.editorList__asset--lists:hover p {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.699);
  box-shadow: inset 4px 6px 15px black;
  color: white;
}

.productList {
  width: 80%;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  margin: 50px auto;
}

.productList .on {
  background: #2b2a2c;
  box-shadow: inset 3px 4px 10px black;
  color: #ffdb00;
  font-weight: bold;
}

.productList__items {
  width: 48%;
  border: 1px solid #dfdfdf;
  float: left;
  background: #fcfbff;
}

.productList__items a {
  display: block;
  padding: 10px 0;
}

.headerTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 30px;
}

.headerTitle span {
  font-size: 12px;
  font-weight: normal;
}

#productMain {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#productMain .productMainItem {
  width: 50%;
}

#productMain .productMainItem img {
  display: block;
  max-width: 100% !important;
  margin-bottom: 20px;
}

#productMain .productMainItem a {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#productMain .productMainItem a p:nth-of-type(1) {
  font-size: 17px;
  font-weight: bold;
}

#productMain .productMainItem a p:nth-of-type(3) {
  font-size: 22px;
  font-weight: bold;
}

@media screen and (min-width: 460px) {
  .productList__items {
    width: 32%;
  }
  .editorList__asset--lists {
    width: 120px !important;
    height: 120px;
    line-height: 120px;
  }
}

@media screen and (min-width: 1260px) {
  .headerTitle {
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
    font-size: 24px;
  }
  .headerTitle span {
    font-size: 16px;
  }
  .editorList__asset {
    font-size: 18px;
  }
  .editorList__asset--lists {
    width: 370px !important;
    height: 370px;
    line-height: 370px;
  }
  .productList {
    width: 1260px;
    height: 100px;
  }
  .productList__items {
    width: 16%;
  }
  #productMain .productMainItem {
    width: 20%;
  }
}
