.main {
  text-align: center;
}
.main-headline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-headline--title h2 {
  font-family: "Russo One", sans-serif;
  font-size: 27px;
}
.main-headline--title p {
  margin-bottom: 5px;
}
.main-headline--title a.goProject {
  display: block;
  margin: 0 auto;
  font-size: 10px;
  width: 94.5px;
  height: 22px;
}
.main-headline--title a.goProject img {
  width: 100%;
  height: 100%;
}
.main-headline--back {
  position: absolute;
  background: url("/photozone/assets/image/title/Design.png") no-repeat;
  background-size: 100% auto;
  z-index: -9999;
  width: 100%;
  height: 96px;
  top: 17px;
  font-size: 80px;
  font-family: "Russo One", sans-serif;
  color: rgba(75, 75, 75, 0.096);
  text-indent: -9999px;
}

.footer {
  background: rgba(238, 238, 238, 0.199);
  padding: 40px 0;
  color: #222;
}
.footer address {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer address .publisher {
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.footer address .address-github {
  display: block;
}
.footer address .address-github .fa-github-alt:before {
  font-size: 22px;
}