.galleryIsBody {
  display: block !important;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.95;
  z-index: 1;
}

#gallery-body {
  display: none;
  background: #2c2929;
  transition: 1s;
}
#gallery-body #gallery-wrap {
  animation: gallery_animation 0.5s ease-out;
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
  width: 93%;
  height: 100%;
  color: #ffa4b1;
}
@keyframes gallery_animation {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
#gallery-body #gallery-wrap .gallery_header {
  font-size: 35px;
}
#gallery-body #gallery-wrap .gallery_header p {
  position: absolute;
  left: 0;
  top: 60px;
}
#gallery-body #gallery-wrap .gallery_header button {
  position: absolute;
  right: 0;
  top: 60px;
}
#gallery-body #gallery-wrap .gallery_header button {
  cursor: pointer;
}
#gallery-body #gallery-wrap .gallery_header-in {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}
#gallery-body #gallery-wrap .gallery_header-in p:nth-child(1) {
  margin-left: 150px;
  flex: 1;
}
#gallery-body #gallery-wrap .gallery_header-in p:nth-child(2) {
  flex: 7;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage {
  width: calc(630 * 5);
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul {
  display: flex;
  cursor: move;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li {
  position: relative;
  padding-left: 12px;
  padding: 15px;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c-imgs {
  overflow: hidden;
  height: 600px;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c-imgs img {
  display: block;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c_words {
  background: #2c2929;
  position: absolute;
  bottom: -80px;
  right: 0;
  left: 0;
  padding: 18px;
  transition: 0.5s;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c_words h5 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c_words .c_words_sub1 {
  display: block;
  margin-bottom: 12px;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c_words .c_words_sub3 {
  font-weight: bold;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c_words .c_words_sub2,
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li .c_words .c_words_sub3 {
  opacity: 0;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li:hover .c_words {
  bottom: -30px;
}
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li:hover .c_words .c_words_sub2,
#gallery-body #gallery-wrap .carousel_wrap .carousel_stage ul li:hover .c_words .c_words_sub3 {
  opacity: 1;
}