$red: #ffa4b1;
$gray: rgb(44, 41, 41);

/*변수값*/

@mixin hov_red {
    &:hover {
        color: $red;
    }
}

@mixin red_box {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 10px;
    background: $red;
    z-index: -9999;
    border-radius: 2px;
}

@mixin minibold {
    font-family: Russo One !important;
    font-size: 18px;
    text-align: center;
    margin-top: 220px;
}

@mixin caption_l {
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
    letter-spacing: 16px;
    font-size: 40px;
    margin-bottom: 8px;
}

@mixin text {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 300;
    text-align: center;
    font-style: 12px;
}

body {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7)url('/img/marble.jpg') no-repeat center center fixed;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    font-family: 'Noto Sans KR', sans-serif;
    p {
        font-family: 'Noto Sans KR', sans-serif;
        cursor: default;
        font-weight: 300;
        line-height: 1.24;
    }
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 175px;
    .logobox a {
        font-family: 'Russo One', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 51px;
        /* identical to box height */
        color: #000000;
    }
    .nav_list ul {
        margin-left: 346px;
        display: flex;
        li {
            button {
                font-family: 'Noto Sans KR', sans-serif;
                display: block;
                padding: 15px;
                font-weight: 900;
                cursor: pointer;
            }
            .xi-ellipsis-h:before {
                content: "\e94a";
                font-size: 30px;
                line-height: 0.7;
            }
            @include hov_red;
        }
    }
}

// introduce
#introduce_top {
    margin-bottom: 130px;
    p.minibold {
        @include minibold();
        text-decoration: underline;
    }
    p.caption_l {
        @include caption_l();
    }
    b {
        font-weight: bold;
    }
    .myself {
        @include text();
        margin-bottom: 36px;
    }
    .gols_img {
        margin: auto;
        width: 820px;
        height: 255px;
        background: $gray;
        margin-bottom: 17px;
    }
    .gols_words {
        position: relative;
        width: 820px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        .gols_words_in {
            width: 33.3%;
            p {
                &:nth-of-type(1) {
                    @include minibold();
                    margin: 0px;
                }
                &:nth-of-type(2) {
                    @include text();
                    margin: 0px;
                    padding: 4px;
                }
            }
        }
    }
}

#introduce_bottom {
    margin-bottom: 130px;
    #profile {
        width: 820px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
        .profile-img {
            width: 100%;
            height: 280px;
            background: url('/img/port1.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 130%;
        }
        .profile-img:hover~.profile-words {
            opacity: 0;
        }
        .profile-words {
            position: absolute;
            left: 0vw;
            opacity: 1;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 280px;
            height: 280px;
            background: rgba(255, 255, 255, 0.8);
            transition: 0.2s;
            backdrop-filter: blur(4px);
            p:nth-of-type(1) {
                font-weight: 500;
            }
            p:nth-of-type(2) {
                @include minibold();
                margin: 0;
                text-align: justify;
            }
            p:nth-of-type(3) {
                @include minibold();
                margin-top: 22px;
                text-align: justify;
                font-size: 14;
            }
            p:nth-of-type(4) {
                margin-top: 12px;
            }
            p:nth-of-type(5) {
                margin-top: 12px;
                font-weight: 500;
            }
        }
    }
    .resume {
        ul {
            display: flex;
            justify-content: center;
            width: 820px;
            padding: 30px;
            margin: auto;
            flex-direction: column;
            background: $gray;
            .resume-sub {
                color: white;
                flex: 1;
                @include minibold();
                margin-top: 0px;
                text-align: justify;
                ol {
                    padding: 20px;
                    ;
                    li {
                        color: rgb(146, 146, 146);
                        font-family: 'Noto Sans KR', sans-serif;
                        cursor: default;
                        font-weight: 300;
                        font-size: 14px;
                        margin: 0 auto;
                        text-indent: 5px;
                    }
                }
            }
        }
    }
}

// project
#Project {
    background: gray;
    height: 100vh;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    backdrop-filter: blur(4px);
    opacity: 0.7;
    height: 100px;
    z-index: 2;
    color: black;
    .footer-assets-left {
        display: flex;
        margin-left: 50px;
        align-items: center;
        cursor: default;
        .footer-content {
            margin-left: 16px;
            text-align: left;
            b {
                font-weight: bold;
            }
        }
    }
    .footer-assets-right {
        display: flex;
        align-items: center;
        margin-right: 50px;
        .contect-me {
            display: block;
            height: 60%;
            padding: 0 50px;
            border: 2px $gray solid;
            border-radius: 16px;
            margin-right: 16px;
            cursor: pointer;
            font-weight: 700;
        }
        .footer-close {
            cursor: pointer;
            i {
                font-size: 28px;
            }
        }
    }
}