.main_image_slide {
  width: 100%;
  height: 330px;
  background: #333;
}
.main_top_wrap {
  width: 90%;
  margin: -60px auto;
  margin-bottom: 0;
}
.main_top_wrap .item1 {
  background: #f6f6f6;
}
.main_top_wrap .item2 {
  background: #d9e7f0;
}
.main_top_wrap .item3 {
  background: white;
}
.main_top_wrap .item4 {
  background: #768392;
  color: white !important;
}
.main_top_wrap .item4 h2 {
  color: white !important;
}
.main_top_wrap .item5 {
  background: #1d83d0;
  color: white !important;
}
.main_top_wrap .item5 h2 {
  color: white !important;
}
.main_top_wrap .item6 {
  background: #0761a7;
  color: white !important;
}
.main_top_wrap .item6 h2 {
  color: white !important;
}
.main_top_wrap .sub_image {
  box-sizing: border-box;
  width: 100%;
  height: 160px !important;
  background: #ccc;
}
.main .container_top {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  margin-bottom: 35px;
}
.main .container_top .container_buttonBox {
  display: flex;
}
.main .container_top .container_buttonBox button {
  border: 1px solid #ccc;
  width: 50%;
  height: 34px;
  text-align: center;
}
.main .container_top .container_buttonBox button:nth-child(1) {
  border-right: none;
}
.main .container_top h2 {
  font-size: 17px;
  font-size: 1.404rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2d3e46;
}
.main .container_top p {
  margin-bottom: 20px;
}
.main .main_bottom_wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
  background: #f6f6f6;
}
.main .main_bottom_wrap section {
  border: 1px solid #e4e4e4;
  padding: 25px;
  width: 50%;
  height: 216px;
  position: relative;
  background: white;
  overflow: hidden;
}
.main .main_bottom_wrap section h3 {
  color: rgba(84, 100, 108, 0.7);
}
.main .main_bottom_wrap section img {
  height: 100%;
  vertical-align: top;
}
.main .main_bottom_wrap section p {
  margin-bottom: 10px;
}
.main .main_bottom_wrap section i {
  color: rgba(84, 100, 108, 0.7);
  position: absolute;
  top: 15px;
  right: 15px;
}
.main .main_bottom_wrap section span.days {
  position: relative;
  bottom: 0px;
  left: 0px;
}
.main .main_bottom_wrap section span.imgBlock {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 2000px;
  height: 100%;
  margin-left: -1000px;
  text-align: center;
}
.main .subitem3,
.main .subitem5 {
  padding: 0 !important;
}

@media screen and (min-width: 400px) {
  .main .main_top_wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .main .container_top {
    width: 50%;
  }
  .main .container_top.item7 {
    width: 100%;
  }
}
@media screen and (min-width: 640px) {
  .main .container_top {
    width: 33%;
  }

  .main .main_bottom_wrap section {
    width: 25%;
  }
}
@media screen and (min-width: 800px) {
  .main .container_top {
    width: 25%;
  }

  .main .container_top.item7 {
    width: 50% !important;
  }
}
@media screen and (min-width: 1280px) {
  .main .main_top_wrap {
    max-width: 1280px;
  }

  .main .main_bottom_wrap {
    max-width: 1280px;
    margin: auto;
  }
}