$gray: rgb(44, 41, 41);
$red: #ffa4b1;
.galleryIsBody {
    display: block !important;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
    opacity: 0.95;
    z-index: 1;
}

#gallery-body {
    display: none;
    background: $gray;
    transition: 1s;
    #gallery-wrap {
        @keyframes gallery_animation {
            from {
                opacity: 0;
                left: 100%;
            }
            to {
                opacity: 1;
                left: 0;
            }
        }
        animation: gallery_animation 0.5s ease-out;
        position: relative;
        margin: 0 auto;
        padding: 16vh 0;
        width: 93%;
        height: 100%;
        color: $red;
        .gallery_header {
            i {
                font-size: 35px;
                color: $red;
            }
            p {
                position: absolute;
                left: 0;
                top: 60px;
                &:nth-of-type(2) {
                    margin-left: 80px;
                    strong {
                        display: inline-block;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        line-height: 40px;
                    }
                }
            }
            button {
                position: absolute;
                right: 0;
                top: 60px;
            }
            button {
                cursor: pointer;
            }
        }
        .carousel_wrap {
            .carousel_stage {
                width: calc(630 * 5);
                ul {
                    width: 5000px;
                    overflow: hidden;
                    cursor: move;
                    li {
                        float: left;
                        position: relative;
                        padding-left: 12px;
                        padding: 15px;
                        .c-imgs {
                            overflow: hidden;
                            height: 600px;
                            img {
                                display: block;
                            }
                        }
                        .c_words {
                            background: $gray;
                            position: absolute;
                            bottom: -80px;
                            right: 0;
                            left: 0;
                            padding: 30px;
                            transition: 0.5s;
                            h5 {
                                display: flex;
                                justify-content: space-between;
                                font-size: 18px;
                                font-weight: bold;
                                margin-bottom: 12px;
                            }
                            .c_words_sub1 {
                                display: block;
                                margin-bottom: 12px;
                            }
                            .c_words_sub3 {
                                font-weight: bold;
                            }
                            .c_words_sub2,
                            .c_words_sub3 {
                                opacity: 0;
                            }
                            // .c_words_sub2,
                            // .c_words_sub3 {
                            //     display: none;
                            //     margin-bottom: 20px;
                            //     opacity: 0;
                            // }
                        }
                    }
                    li:hover {
                        .c_words {
                            bottom: -30px;
                            .c_words_sub2,
                            .c_words_sub3 {
                                opacity: 1;
                            }
                        }
                    }
                    // li:hover .c_words_sub2,
                    // .c_words_sub3 {
                    //     display: block;
                    //     opacity: 1;
                    // }
                }
            }
        }
    }
}