    * {
        margin: 0;
        padding: 0;
    }
    
    a:link {
        text-decoration: none;
        color: black;
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    /* p::first-letter {
color: blue;
font-size: 25px;
border: 2px solid red;
} */
    
    h1 {
        min-width: 1092px;
    }
    
    nav,
    div {
        width: 60%;
        min-width: 670px;
        border: 1px solid white;
        margin: auto;
    }
    
    #content {
        width: 60%;
        border: 1px solid white;
        margin: auto;
        background: black;
    }
    
    nav>ul>li {
        float: left;
        width: 33.3%;
    }
    
    nav>ul {
        overflow: hidden;
    }
    
    nav ul li a {
        display: block;
        text-align: center;
        padding: 8px 20px;
        background: pink;
    }
    
    nav ul li a:visited {
        color: black;
    }
    
    nav ul li a:hover {
        background: rgb(255, 0, 191);
        color: white;
        font-weight: bold;
    }
    
    #content p {
        border: 1px solid lightpink;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.37);
        height: 100px;
        margin: 10px;
        background: rgba(233, 251, 255, 0.212);
        color: white;
    }
    
    #content p {
        display: none;
        text-align: center;
        line-height: 102px;
    }
    
    #content p:target {
        display: block;
    }