* {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.9);
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    background: rgba(23, 23, 23, 0.3);
    text-shadow: 0 0 4px #ccc, -5px -5px 4px rgb(51, 241, 255), -5px -10px 6px blue, -2px -15px 11px violet;
}

h1:hover {
    text-shadow: 0 0 4px #ccc, 0.5px 4px #ff3, 2px 10px 6px skyblue, 2px 5px 5px rgba(244, 133, 0, 0.6);
}

h1 {
    box-shadow: 10px 10px 10px rgb(255, 69, 146), 10px 10px 20px plum, 10px 10px 20px purple;
    /*기본값인 outset*/
}

h1:hover {
    box-shadow: inset 10px 10px 10px #888, inset 10px 10px 20px, inset 10px 10px 30px #ccc;
}