* {
    margin: 0 auto;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*css레이아웃 디자인*/

h1 {
    box-sizing: border-box;
    width: 900px;
    border: 5px solid gray;
    background: red;
    color: white;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-align: center;
}


/*float로 배치하기*/

section {
    width: 900px;
    margin: auto;
    margin-top: 20px;
    background: lightyellow;
    overflow: hidden;
}


/* section div.row {
    overflow: hidden;
} */

section div.row::after {
    content: '';
    display: block;
    clear: both;
}

section div.row .box {
    float: left;
    border: 5px solid black;
    width: 30%;
    margin-left: 25px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
}

div.box h2 {
    color: white;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    line-height: 1.5;
    width: 95%;
    margin: auto;
    background: #555;
}

div.box h2:hover {
    background: indigo;
    color: white;
    cursor: pointer;
}

div.box ul {
    margin: 20px 0;
}

div.box li {
    line-height: 1.5;
    /* 줄간격을 글자크기의 1.5배로 한다: 기본적 */
    text-indent: 10px;
    /* 들여쓰기 */
}

div.row ul li:before {
    content: '▶';
    color: red;
    position: relative;
    left: 2px;
}

div.row li {
    cursor: pointer;
}

div.row li:hover {
    text-indent: 13px;
    transition: 0.5s;
}

section {
    position: relative;
    width: 900px;
    height: 600px;
}

div.box {
    position: absolute;
}

#toefl {
    background-color: #d9e853;
    top: 50px;
    left: -50px;
}

#toeic {
    display: inline-block;
    background-color: yellow;
    left: 150px;
    top: 150px;
}

#english {
    background-color: pink;
    left: 300px;
    top: 300px;
    z-index: 1;
}

#english ul::after {
    content: '';
    display: block;
    padding-bottom: 30px;
}

#japanese {
    background-color: darkcyan;
    right: 150px;
    top: 130px;
}

#academy {
    background-color: #9583b4;
    top: 40px;
    right: -20px;
}

div.row ul li:before {
    content: '▶';
    color: dim;
    position: relative;
    left: 0px;
    top: -1px;
}

div.row ul li:hover:before {
    content: '▶';
    color: red;
    position: relative;
    left: 0px;
    top: -1px;
}


/*배경속성*/

body {
    background-color: lightblue;
    background-image: url('/daum.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('nate.png'), url('card3.jpg');
    background-position: left top, left 600px;
    background-size: contain;
    background-attachment: fixed;
}

section:hover {
    overflow: scroll;
}