* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 패딩이 바깥이 아니라 border안으로 들어간다 */
}

ul,
li,
ol {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#pizza li span:first-child {
    display: block;
    position: relative;
    top: 0;
}

#pizza li span:last-child {
    display: block;
    position: relative;
    top: -200px;
}

#pizza li:hover span:first-child {
    display: block;
    position: relative;
    top: -200px;
    transition: 0.5s;
}

#pizza li:hover span:last-child {
    display: block;
    position: relative;
    top: -20px;
    transition: 0.5s;
}

#pizza a {
    text-decoration: none;
    text-transform: capitalize;
}

#pizza {
    overflow: hidden;
    background: ivory;
}

#pizza li {
    border-right: 1px solid rgb(201, 191, 191);
    overflow: hidden;
    /* text-indent가 왼쪽으로 움직이면서 해당 li태그의 바깥으로 나가면 안보인다 */
    float: left;
    width: calc(100% / 5);
    padding: 5px;
}


/* 
새로운 body */

#mama {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

#mama p {
    width: 100px;
    height: 100px;
    background: orange;
    margin-left: calc(300px /2);
    margin-top: calc(200px /2);
    position: relative;
    left: calc(-100px /2);
    top: calc(-100px /2);
}

#mama2 {
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    position: relative;
}

#mama2 p {
    width: 100px;
    height: 100px;
    background: orange;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: calc(-100px /2);
    margin-top: calc(-120px /2);
}


/* 플렉스 */

#flex {
    width: 100%;
    height: 200px;
    background: pink;
    display: flex;
}

#flex p {
    border: 1px solid blue;
    flex: 1;
}


/* #flex p:nth-child(2) {
    flex: 2;
}

#flex p:nth-child(1) {
    flex: none;
    width: 200px;
} */

#flex {
    align-items: center;
    justify-content: space-between;
}


/* #flex p {
    width: 100% !important;
    ;
    flex: none !important;
    ;
} */