body {
    min-width: 780px;
}

#main_header {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    background: navy;
    color: white;
}

#main_gnb {
    overflow: hidden;
    border-bottom: 1px solid black;
    background: darkgray;
}

ul.left {
    float: left;
}

ul.right {
    float: right;
}

#main_gnb ul:after {
    content: '';
    display: block;
    clear: both;
}

ul.left li {
    float: left;
}

ul.right li {
    float: left;
}

#main_gnb a {
    display: block;
    padding: 10px 20px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    color: white;
    font-weight: bold;
}


/* 콘텐츠 배치하기 */

#wrap {
    overflow: hidden;
    background: navy;
}

#main_lnb {
    width: 200px;
    float: left;
}

#content_wrap {
    float: left;
    width: 100%;
    margin-right: -200px;
}

#content_wrap #content {
    border: 1px solid black;
    padding-right: 200px;
    /* (오른쪽 마진을 200만큼 썰었으니 그만큼 패딩[contents와 border사이에 있는 빈칸]을 넣어줘야 글자가 안잘려나감) */
    text-align: justify;
}

#main_lnb a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-top: 1px ridge blue;
    border-bottom: 1px ridge blue;
    color: white;
    font-weight: bold;
}

#content {
    background: white;
    border-left: 1px solid black;
}

article {
    padding: 10px;
}

#main_lnb {
    height: 100%;
    background: dimgray
}

#main_footer {
    padding: 10px;
    border-top: 3px solid black;
    text-align: center;
    background: #333;
    color: white;
}


/* 아코디언 구성하기 */

#main_lnb p {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    background: snow;
}

#main_lnb>li:target>p {
    height: 30px;
    background: tomato;
    opacity: 1;
    visibility: visible;
}

#main_lnb p:hover {
    background: yellow !important;
    text-indent: 30px;
}

#main_lnb p {
    position: relative;
}

#main_lnb p:hover::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 4px solid blue;
    position: absolute;
    left: 8px;
    top: 8px;
}

#content p::first-letter {
    font-size: 28px;
    color: blue;
    font-weight: bold;
}


/* 고정바 만들기 */

#main_header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#main_gnb {
    margin-top: 60px;
}