* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

h1 {
    width: 1280px;
    margin: auto;
}

h1 span {
    font-weight: lighter;
    color: black;
}

p {
    margin: 0 auto;
    width: 1280px;
    color: dimgray;
}

div.row {
    width: 1280px;
    margin: auto;
    overflow: hidden;
}

div.block {
    float: left;
    border-left: 1px dotted dimgray;
    height: 200px;
    overflow: hidden;
    margin: 0 10px;
    font-size: 1rem;
}

div.block h2,
div.block ul {
    float: left;
}

div.block h2 {
    width: 40%;
    font-size: 20px;
}

div.block ul {
    width: 60%;
}

div.row {
    margin-top: 30px;
}

div.block {
    width: 20%;
    box-sizing: border-box;
}

ul li::before {
    content: '·';
    position: relative;
    right: 5px;
}

ul li {
    text-indent: 15px;
    line-height: 1.5;
    padding-left: 10px;
    margin-lefT: 10px;
}

.row>.block:first-child {
    border: 1px solid transparent;
}