[class*=grid] {
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    /* ---------------모바일 퍼스트------------ */
    div.container::before {
        content: '모바일';
        display: block;
        font-size: 2rem;
        font-weight: bold;
    }
    [class*=grid] {
        border: 2px solid blue;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    /* -------------- 태블릿에서 유동형 그리드 -----------------*/
    div.row {
        margin: 5px 10px;
        display: flex;
    }
    [class*=grid] {
        flex: 1;
    }
    div.container {
        width: 100%;
        margin: auto;
    }
    div.container::before {
        content: '태블릿';
        display: block;
        font-size: 2rem;
        font-weight: bold;
    }
    div.grid12 {
        width: 100%;
    }
    div.grid6 {
        width: 49%;
    }
    div.grid4 {
        width: 32%;
    }
    div.grid3 {
        width: 23.5%;
    }
    div.grid2 {
        width: calc(100% / 6 - 1%);
    }
    [class*=grid] {
        border: 2px solid green;
    }
}

@media screen and (min-width:960px) {
    /* --------------- 데스크탑에서 고정형그리드-------*/
    div.container {
        width: 960px;
        /* width: 100%; */
        margin: auto;
    }
    div.container::before {
        content: '데스크탑';
        display: block;
        font-size: 2rem;
        font-weight: bold;
    }
    div.row {
        display: block;
        overflow: hidden;
    }
    [class*=grid] {
        float: left;
        /* float를 했더니 마진auto해도 전부 붙는다. 마진값 따로 적용해야. */
    }
    div.grid12 {
        width: 930px;
    }
    div.grid6 {
        width: 460px;
    }
    div.grid4 {
        width: 300px;
        margin-left: 5px;
    }
    div.grid3 {
        width: 220px;
        margin-left: 5px;
    }
    div.grid2 {
        width: 140px;
        margin-left: 35px;
    }
    [class*=grid] {
        border: 2px solid red;
    }
}


/* -------------- 반응형 그리드 완료 -----------------*/