.table1 {
    border: 3px solid black;
    caption-side: bottom;
    border-collapse: collapse;
}

.table1 td {
    border: 1px dotted black;
    padding: 10px;
    text-align: center;
    border-spacing: 20px 10px;
    empty-cells: show;
}

.table2 {
    border-collapse: collapse;
    border: 1px solid black;
    empty-cells: hide;
}

.table2 td {
    border: 1px dotted red;
    padding: 10px 150px;
    text-align: center;
    empty-cells: hide;
}