* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#a p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}

#a {
    border: 2px solid red;
    width: 90%;
}

.clear {
    clear: both;
    clear: left;
}


/* 그냥 다음에 오는 박스에 clear:both 얹기는 부모가 감싸지 않아 */

#b p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}

#b {
    border: 2px solid red;
    width: 100%;
    float: left;
}


/* ▲ 자식과 부모 둘다에게 float이면 width가 100%로밖에 쓸수없어서 (줄넘김이 안됨) 별로안씀 */


/*c는 오버플로우 히든*/

#c {
    border: 2px solid red;
    width: 100%;
    overflow: hidden;
}

#c p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}


/*d는 부모에 높이주기*/

#d {
    border: 2px solid red;
    width: 100%;
    height: 100px;
    /* 이것만으로 되지만 설계가 정확해야해서 별로 */
}

#d p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}


/* e는 가상요소로 float해제 */

#e {
    border: 2px solid red;
    width: 100%;
}

#e::after {
    content: '';
    clear: both;
    display: block;
    margin-bottom: 30px;
}


/* 가상요소에 height이나 마진을 주면 여백이 가능 */

#e p {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}