* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

#wrap {
    width: 900px;
    border: 2px solid gray;
    margin: auto;
}

h1 {
    padding: 15px;
    border: 2px solid gold;
    border-top: 4px solid orange;
    width: 80%;
    margin-left: 20px;
}

span.red {
    background: red;
    color: white;
}

.green {
    background: green;
    color: white;
}

p {
    width: 70%;
    text-align: center;
    line-height: 2;
}

ul {
    width: 60%;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 5px 5px black;
    margin: auto;
}

ul>li {
    text-indent: 20px;
    line-height: 1.8;
    background: url(icon_basic.gif) no-repeat left top;
    cursor: pointer;
}

ul>li:hover {
    background: url(icon.gif) no-repeat left top;
    cursor: pointer;
}

h2 {
    border-bottom: 2px solid blue;
    width: 60%;
    margin: 0 auto;
}

dl {
    margin: 0 auto;
    width: 60%;
    border: 2px solid tan;
    padding: 10px;
    border-radius: 5px;
}

dl:hover {
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray, -3px -3px 5px dimgray;
}

dl>dt {
    background: teal;
    color: lightyellow;
}

dl>dd {
    font-style: italic;
}

ol {
    border: 5px solid orange;
    background: linear-gradient(gold 0%, pink 100%);
    width: 60%;
    margin: 0 auto;
}

ol:hover {
    background: radial-gradient(gold 0%, pink 100%)
}

ol:hover {
    box-shadow: 3px 3px 5px gray, -3px -3px 5px dimgray;
}

ol {
    box-shadow: inset 3px 3px 5px gray, inset -3px -3px 5px dimgray;
    padding: 10px;
    border: 20px;
    border-style: solid;
    border-image: linear-gradient(red 0%, blue 100%;
    border-image-repeat: stretch;
}