@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  font-family: "MuseoModerno", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ccc;
}
.container .title-container {
  overflow: hidden;
}
.container h1 {
  color: white;
  font-weight: 900;
  position: relative;
  display: block;
  margin: 0;
  font-size: 5rem;
  padding: 2vh;
  line-height: 1.3;
  transform: translateY(8rem);
  animation: up 0.8s ease-out forwards;
  z-index: 1;
}

@keyframes up {
  from {
    transform: translateY(8rem);
  }
  to {
    transform: translateY(0);
  }
}